<!DOCTYPE html>
<html lang="en" ng-app="note_app">
<head>
    <meta charset="UTF-8">
    <title>点击换样式的列表</title>
</head>
<script src="../node_modules/angular/angular.js"></script>
<script src="js/app.js"></script>
<link href="css/example2.css" rel="stylesheet" type="text/css" />
<body ng-controller="MainCtrl as ctrl">

  <div ng-repeat="note in ctrl.notes" ng-class="ctrl.getClass(note.done)" ng-click="ctrl.changeStyle(note.label)">
      <span class="label">{{note.label}}</span>
  </div>

</body>
</html>